<!DOCTYPE html>
<html>
<head>
  <title>Urlsh</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
<% if flash[:shortened_id].present? %>  
  <p class='shortened-link'>  
  The shortened url is available <%= link_to 'here',  url_url(flash[:shortened_id]) %>.  
  (Right click and copy link to share it).  
  </p>  
<% end %>

<%= yield %>

</body>
</html>
